@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-3 text-primary">Welcome to Budget Monitoring app!</h1>
        <p class="lead text-muted">Исследуйте возможности приложения и получите доступ к полезным функциям.</p>
    </div>

        <img src="https://i.pinimg.com/564x/66/92/ef/6692efb43dac423b1bb9cf410ce39329.jpg"
             alt="Centered Image"
             style="display: block; margin: 0 auto; width: 20%;" />
    </a>



    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-dark">Функции мониторинга</h5>
                    <p class="card-text text-muted">Следите за статусом бюджета, расходами и доходами в реальном времени.</p>
                    <a href="/BudgetStatus" class="btn btn-outline-primary">Перейти</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-dark">Анализ расходов</h5>
                    <p class="card-text text-muted">Получите подробные отчеты по расходам и доходам для принятия решений.</p>
                    <a href="/ExpenseAnalysis/Analysis" class="btn btn-outline-primary">Узнать больше</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-dark">Управление целями</h5>
                    <p class="card-text text-muted">Создавайте и отслеживайте свои финансовые цели для эффективного сбережения.</p>
                    <a href="/Goals" class="btn btn-outline-primary">Начать</a>
                </div>
            </div>
        </div>
    </div>
</div>
